@import '../../styles/variables';
@import '../../styles/mixins';

.projetos {
  @include flex(column, flex-start, stretch, nowrap);
  width: 100%;

  .containerProjetos {
    width: 100%;
    height: auto;
    @include flex(column, center, center, nowrap);
  }

  @include respond-to('lg') {
    .containerProjetos {
      @include flex(row, stretch, stretch, nowrap);
    }
  }

  .projeto {
    width: 80%;
    height: auto;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 8px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.274);
  }

  h3 {
    font-size: $font-size-small;
    margin-bottom: $spacing-md;
  }

  i {
    font-size: 2rem;
    margin: 60px 0px;
  }

  .container_tecnologia {
    margin: 10px 0px;
  }
  
  p {
    font-size: 1.1rem;

  }
}

.img_projeto img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.links {
  @include flex(column, flex-start, stretch, nowrap);

  a {
    @include button-style();
    &:hover {
      opacity: 1;
      transform: none;
    }
  }

  .repositorio {
    @include button-style($secondary-color, $text-white, $border-radius-sm);
    font-size: $font-size-large;
  }

  .site {
    @include button-style($text-white, $text-black, $border-radius-sm);
    font-size: $font-size-large;
  }
}

@include respond-to('md') {
  .links {
    @include flex(row, flex-start, stretch, nowrap);
  }
}

