.redes_socias {
  width: 100%;
  text-align: center;
}

.redes_socias ul {
  list-style: none;
  width: 100%;
  flex-flow: row wrap;
}

.redes_socias li:hover {
  transform: translateY(-3px);
  transition: transform 0.2s ease-in-out;
}

.redes_socias a {
  font-weight: bold;
  text-decoration: none;
  color: #dddddd;
}
